:root {
  --black: #000000bf;
  --white: #ffffff;

  --danger-color: #8f0039;
  --warning-color: #ff8700;
  --success-color: #00ca46;

  --color-text-white: #f2f2f2;
  --color-text-white-secondary: #cbcbcb;

  --color-brand-green: #0dbf7b;
  --color-brand-green-alt: #152225;
  --color-element-passive: #265352;

  --gradient-100: linear-gradient(180deg, #0dbfb7 0%, #0dbf7b 100%);
}
