.Trigger {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: start;
  border-radius: var(--radius-xl);
  padding: 0 15px;
  height: 36px;
  gap: 5px;
  background-color: var(--color-element-passive);
  width: 400px;

  font-family: "Roboto Flex";
  font-weight: 400;
  font-size: 14px;

  &[data-placeholder] {
    font-family: "Roboto Flex";
    font-weight: 400;
    font-size: 14px;
  }

  &:hover {
    outline: none;
    cursor: pointer;
  }
}

.Icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Content {
  overflow: hidden;
  background-color: rgb(47, 95, 94);

  border-radius: var(--radius-m);
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-height);
  z-index: 10;
}

.Viewport {
  padding: 10px;
}

.Item {
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 36px;
  padding: 0 35px 0 30px;
  position: relative;
  user-select: none;

  font-family: "Roboto Flex";
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;

  &[data-disabled] {
    pointer-events: none;
  }
  &[data-highlighted] {
    outline: none;
    cursor: pointer;
    background: #1522253b;
  }
}

.ItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.ScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: white;
  color: var(--violet-11);
  cursor: default;
}
